<?php

return [
    'paths' => [
        'migrations' => './database/migrations',
        'seeds' => './database/seeds',
    ],
    'migration_base_class' => Zuno\Migration\Migration::class,
    'environments' => [
        'default_migration_table' => 'migratio',
        'zuno' => [
            'adapter' => 'mysql',
            'host' => 'localhost',
            'name' => '',
            'user' => '',
            'pass' => '',
            'port' => ''
        ]
    ]
];
